*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-toggle {
    display: none; /* Oculto en escritorio */
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}
/* GENERAL */
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
}
.mensaje-exito {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mensaje-exito h1 {
    font-size: 32px;
    color: var(--primary);
    margin-bottom: 10px;
}

.mensaje-exito p {
    color: var(--muted);
    margin-bottom: 20px;
}
nav {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
}

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.logo span {
    color: var(--link);
    font-size: 22px;
    font-weight: 600;
}
.btn-terciario {
    background-color: var(--accent);
    color: var(--link);
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-terciario:hover {
    background-color: var(--accent-soft);
}
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--primary);
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px;
        text-align: center;
    }
    .nav-links.active {
        display: flex;
    }
}